@{
	ViewData["Title"] = "EscolhaServco";
}

<h1>EscolhaServco</h1>

<table class="table">
	<form asp-action="EscolhaCidade">
		<div class="form-group">

			@foreach (var cabecalho in ViewBag.CabecalhoEscolhido)
			{
				<input type="hidden" value="@cabecalho" for="@cabecalho" id="cabecalho" name="cabecalho" />
			}

		</div>
		<div class="form-group">
			@foreach (var servico in ViewBag.Servico)
			{
				<label value="@servico" for="@servico" id="servico" name="servico">@servico</label>
				<input type="hidden" value="@servico" for="@servico" id="servico" name="servico" />
				<br/>
			}
				<div class="form-group">
					<input type="submit" value="EscolhaCidade" class="btn btn-primary" />
				</div>


		</div>
	</form>
</table>
