@model IEnumerable<ProjetoRotasPapiniMvcMicroServicoMongo.Models.Cidade>

@{
	ViewData["Title"] = "Index";
}

<h1>Cidades</h1>
@if (!ViewBag.Authenticate)
{
	<div class="row">
		<div class="col-md-12">
			<span>Nao Logado</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form method="post" asp-controller="Usuario" asp-action="Index">
				<input type="submit" value="Entrar" class="btn btn-primary" />
			</form>
		</div>
	</div>
}
else
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.NomeCidade)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Estado)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.NomeCidade)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Estado)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}